
@font-face {
  font-family: "iAWriterPingFangTC";
  font-weight: 400;
  font-style: normal;
  src: local("PingFangTC-Regular");
}

@font-face {
  font-family: "iAWriterPingFangTC";
  font-weight: 700;
  font-style: normal;
  src: local("PingFangTC-Bold");
}
