
@font-face {
  font-family: "iAWriterPingFangHK";
  font-weight: 400;
  font-style: normal;
  src: local("PingFangHK-Regular");
}

@font-face {
  font-family: "iAWriterPingFangHK";
  font-weight: 700;
  font-style: normal;
  src: local("PingFangHK-Bold");
}
