
@font-face {
  font-family: "iAWriterNanumMyeongjo";
  font-weight: 400;
  font-style: normal;
  src: local("NanumMyeongjo");
}

@font-face {
  font-family: "iAWriterNanumMyeongjo";
  font-weight: 700;
  font-style: normal;
  src: local("NanumMyeongjoExtraBold");
}
