
@font-face {
  font-family: "iAWriterEmphasisSpaced";
  font-weight: 400;
  font-style: normal;
  unicode-range: U+E000-E001;
  src: local("iAWriterEmphasisSpaced-Regular");
}

@font-face {
  font-family: "iAWriterEmphasisSpaced";
  font-weight: 450;
  font-style: normal;
  unicode-range: U+E000-E001;
  src: local("iAWriterEmphasisSpaced-Text");
}

@font-face {
  font-family: "iAWriterEmphasisSpaced";
  font-weight: 600;
  font-style: normal;
  unicode-range: U+E000-E001;
  src: local("iAWriterEmphasisSpaced-Semibold");
}

@font-face {
  font-family: "iAWriterEmphasisSpaced";
  font-weight: 700;
  font-style: normal;
  unicode-range: U+E000-E001;
  src: local("iAWriterEmphasisSpaced-Bold");
}
